USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 05/11/2021 17:07:24 ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Conge]    Script Date: 05/11/2021 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conge](
	[CongeId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](500) NULL,
	[Employee] [varchar](500) NULL,
	[Matric] [varchar](8) NULL,
	[DateDebut] [varchar](50) NULL,
	[DateFin] [varchar](50) NULL,
	[Duree] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 05/11/2021 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05/11/2021 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](500) NULL,
	[EmployeePrenom] [varchar](500) NULL,
	[Department] [varchar](500) NULL,
	[DateofJoining] [date] NULL,
	[photoFileName] [varchar](500) NULL,
	[matric] [varchar](8) NULL,
	[CIN] [varchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pointage]    Script Date: 05/11/2021 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pointage](
	[PointageId] [int] IDENTITY(1,1) NOT NULL,
	[Timeint] [varchar](50) NULL,
	[Timeout] [varchar](50) NULL,
	[Employee] [varchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
