
    <div class="container">
      <h1>Application de pointage</h1>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" routerLink="department">Department</a>

          </li>

          <li class="nav-item"><a class="nav-link " href="#" routerLink="employee">Employee</a></li>
          <li class="nav-item"><a class="nav-link " href="#" routerLink="conge">Conge</a></li>
          <li class="nav-item"><a class="nav-link " href="#" routerLink="pointage">Pointage</a></li>
          <li class="nav-item"><a class="nav-link " href="#" routerLink="pointage">SnbH/nbjour</a></li>
        </ul>

      </nav>



<router-outlet> </router-outlet>
</div>

